[submodule "lib/forge-std"]
  branch = "v1"
  path = "lib/forge-std"
  url = "https://github.com/foundry-rs/forge-std"
[submodule "lib/erc3156"]
	path = lib/erc3156
	url = https://github.com/alcueca/erc3156
[submodule "lib/erc7399"]
	path = lib/erc7399
	url = https://github.com/alcueca/erc7399
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/forge-gas-snapshot"]
	path = lib/forge-gas-snapshot
	url = https://github.com/marktoda/forge-gas-snapshot
